<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925983179268-sui7enqk56d8h9qlope2ct3m0jnt9gut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925983179268-sui7enqk56d8h9qlope2ct3m0jnt9gut</string>
	<key>API_KEY</key>
	<string>AIzaSyCN7iEW4EnD08grKQDYC6UZGqVcozyeR-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>925983179268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloud.letsapp.lifeonline</string>
	<key>PROJECT_ID</key>
	<string>lifeonline-366508</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeonline-366508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925983179268:ios:61f8a9a729e70d57262b51</string>
</dict>
</plist>